* {
    background-color: #F1F2EE;
    font-family: 'Space Mono', monospace;;
}

.heading {
    color: #332E3C;
    padding: 25px;
    background-color: #A29C9B;
    display:flex;
    justify-content: space-between;
}
