* {
    background-color: #F4FAFF;
    font-family: 'Space Mono', monospace;

}

header {
    color: black;
    display: flex;
    background-color: #F7C4A5;
    font-size: 50px;
    background-size: auto;
    justify-content: center;
    margin-left: -02px;
}

.widget {
    background-color: #D5C9DF;
    width: 189px;
    height: 600px;
    font-size: 30px;
    display: flex;
    margin-left: -02px;
    margin-top: -18px;
}
